{% extends 'layout.njk' %}

{% block content %}
    <div class="error">
        <h1>Erro 404</h1>
        <h3>Não foi dessa vez =(</h3>
        <p>
            <i>Erro 404 é comum aparecer em páginas da internet, 
            quando não foi encontrado nenhum conteúdo.</i>
        </p>
    </div>
{% endblock %}